@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  width: 50%;
  padding: 100px;
}
